:root{

  --bg-color: #e9ebf8;
  --primary-text: #0a1128;

  --secondary-text:#e9ebf8;;

  --first-section:#c4fff9;
  --second-section:#9ceaef;
  --third-section:#68d8d6;
  --fourth-section:#3dccc7;
  --fifth-section:#07beb8;

  --footer-color:var(--primary-text);



  --shadow:1px 1px 2px black;

}

.mobile-menu{
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  background-color: var(--bg-color);
  padding-top: 20vh;
  transition: 0.4s;
  z-index: 10;

}

/*mobile hamburger*/
.mobile-menu.is-active{
  top: 0;
}

.mobile-menu a{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em 3em;
  background-color: var(--navbar-color);
  width: 100%;
  max-width: 7rem;

  text-decoration:none;
}

.hamburger-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  right: 0;
  z-index: 11;
}

.hamburger{
display: flex;
flex-direction: column;
width: 2.5em;
min-width: 2.5em;
appearance: none;
background: none;
outline: none;
border: none;
cursor: pointer;
align-items: center;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
content: '';
display: block;
width: 100%;
height: 0.3em;
margin: 0.1em;
background-color:var(--secondary-text);
transition: 0.4s;
box-shadow: var(--shadow);
}

.hamburger.is-active:before{
  transform: translateY(0.51em) rotate(-45deg);
}

.hamburger.is-active .bar{
  opacity: 0;
}

.hamburger.is-active:after{
transform: translateY(-0.51em) rotate(45deg);
}
/*endofham*/

body{
  padding:0;
  margin:0;
  background-color: var(--first-section);
  color: var(--primary-text);
}

a{
  color: var(--secondary-text);
  text-decoration: none;
}

ul{
  list-style-type:none;
  margin: 0;
}

.socials-main{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0;
}

.scroll-nav{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.scroll-nav button{
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  text-shadow:var(--shadow);
  color: var(--secondary-text);
}

footer section{
  display: flex;
  justify-content: center;
  color: var(--secondary-text);
}

footer ul{
  margin:0;
  padding:0;
}

h2, p{
  margin: 0;
}

.about-me-section{
  background-color: var(--second-section);
}

.work-section{
  background-color: var(--third-section);
}

.projects-section{
  background-color: var(--fourth-section);
}

.socials-section{
  background-color: var(--fifth-section);
}


/*phone*/
@media only screen and (max-width: 800px) {
  body{
    display: grid;
    grid-template-rows: auto;
  }

  img{
    display:block;
    width:100%;
    max-width:20rem;
    margin: 0 auto 0 auto;
  }

  .left, .right{
    display: none;
  }

  article > section{
    padding: 3rem 3rem 2rem 3rem;
  }

  .hamburger-container{
    position: fixed;
    margin-right: 1rem;
    margin-top: 2rem; 
  }

  .scroll-nav{
    padding: 2em 0 0 1em;
  }

  body nav{
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .socials-main img{
    width: 3em;
    margin-bottom: 1em;
  }

  footer{
    padding: 2rem;
    background-color:var(--footer-color);
  }

  footer li{
    margin-bottom:;
  }

  footer p{
    font-size: 0.8em;
  }
}

/*desktop*/
@media only screen and (min-width: 800px){

  .triangle-container > nav{
    display: flex;
    justify-content: flex-end;

  }
  
  nav button{
    margin: 0 3.5rem 0 3.5rem;
  }

  .hamburger-container{
    margin: 0 1.5rem 0 0;
  }

  .start-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    overflow: hidden;
  }

  .start-page > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 3em;
  }
  
  .triangle-container{
    height: 100vh;
  }
  
  .triangle-container::after{
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100vh;

    background-color:#8DE7ED;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }

  section img{
    border: solid black;
    width: 1vw;
  }

}

/* carousel stuff*/
.carousel-slider{
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel-slider *{
  box-sizing: border-box;
}

.slide{
  display: none;
}

.carousel-slider img {
  vertical-align: middle;
}

.slider-text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.left, .right{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--primary-text);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.right{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.left:hover, .right:hover{
  background-color: black;
}

.dot-container{
  text-align: center;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: white;
}